:root{--main-color:#0f385a;--search-icon-size:34px}
.logo{width:70%;max-width:300px;margin:auto}
.icon_fixed{position:fixed;bottom:15%;color:var(--main-color);z-index:100}
#icon_export{bottom:25%}
#icon_help{bottom:15%}
.icon_right{right:1%;left:auto}
.icon_left{left:1%;right:auto}
.icon_fixed .fa{height:70px;width:70px;border-radius:50%}
.card{border:none}
.search{width:100%;margin-bottom:auto;margin-top:20px;background:#eee;padding:10px;border-radius:5px;position:relative}
.search-input{color:#fff;border:0;outline:0;background:0 0;width:0;margin-top:5px;caret-color:transparent;line-height:20px;transition:width .4s linear}
.search .search-input,.top-search .search-input{padding:0 10px;width:100%;caret-color:var(--main-color);font-size:19px;font-weight:300;color:#000;transition:width .4s linear}
.search-icon{height:var(--search-icon-size);width:var(--search-icon-size);right:2%;display:flex;justify-content:center;align-items:center;color:#fff;background-color:var(--main-color);font-size:10px;top:calc(50% - (var(--search-icon-size)/ 2));position:relative;border-radius:5px;position:absolute}
.search-icon:hover{color:#fff!important}
a:link{text-decoration:none}
.card-inner{position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.25rem;border:none;cursor:pointer;transition:all 2s}
.card-inner:hover{transform:scale(1.1)}
.mg-text span{font-size:12px}
.mg-text{line-height:14px}
.wrapper{display:flex;align-items:center;flex-direction:column;justify-content:center;width:100%;min-height:100%;padding:20px;margin-top:15vh}
.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
@-webkit-keyframes fadeInDown{
0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fadeInDown{
0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@-webkit-keyframes fadeIn{
from{opacity:0}
to{opacity:1}
}
@-moz-keyframes fadeIn{
from{opacity:0}
to{opacity:1}
}
@keyframes fadeIn{
from{opacity:0}
to{opacity:1}
}
.fadeIn{opacity:0;-webkit-animation:fadeIn ease-in 1;-moz-animation:fadeIn ease-in 1;animation:fadeIn ease-in 1;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;animation-fill-mode:forwards;-webkit-animation-duration:1s;-moz-animation-duration:1s;animation-duration:1s}
.fadeIn.first{-webkit-animation-delay:.4s;-moz-animation-delay:.4s;animation-delay:.4s}
.fadeIn.second{-webkit-animation-delay:.6s;-moz-animation-delay:.6s;animation-delay:.6s}
.fadeIn.third{-webkit-animation-delay:.8s;-moz-animation-delay:.8s;animation-delay:.8s}
.fadeIn.fourth{-webkit-animation-delay:1s;-moz-animation-delay:1s;animation-delay:1s}
.underlineHover:after{display:block;left:0;bottom:-10px;width:0;height:2px;background-color:#56baed;content:"";transition:width .2s}
.underlineHover:hover{color:#0d0d0d}
.underlineHover:hover:after{width:100%}
:focus{outline:0}
.top-search .logo{width:160px!important}
.top-search{max-height:120px!important}
.results{flex-direction:row-reverse}
.mainResult{text-align:left}
.tags{display:inline-block;width:100%;font-size:15px}
.tags2x{font-size:20px}
.tags .tag{color:gray!important}
.text-right{text-align:right!important}
.text-left{text-align:left!important}
.container_results{flex-direction:row}
.full-screen-container{width:100%;display:flex;justify-content:center;align-items:center}
.logo_link{width:auto!important;padding:0!important;margin:0!important;text-align:center}
.regulation{color:var(--main-color);opacity:.6}